<div>
  <p>Bienvenue <%= user.name %> <a href="/logout">Déconnexion</a></p>
  <div>
    <table>
    <% unless conversations.empty? then %>
    
        <% conversations.each do |conversation| %>
          <tr>
            <a href="/conversation/<%=conversation.id%>">
              <div class="conversation">
                <p><%= conversation.name %></p>
              </div>  
            </a>
          </tr>
        <% end %>

    <% else %>
      <tr>
        pas de conversations disponible
      </tr>
    <% end %>
  </div>
  <div>
    <tr>
      <%= form_with(url: "/conversation", method: "POST") do %>
          <input required name="name" type="text" minlength="3" placeholder="Nom de la conversation"/>
          <input type="submit" value="Créer" />
      <% end %>
    </tr>
  </div>
  </table>
</div>
